swagger: "2.0"
info:
  version: 1.0.0
  title: IO Functions CGN operator search
  contact:
    name: IO team
    url: https://forum.italia.it/c/progetto-io
  x-logo:
    url: https://io.italia.it/assets/img/io-logo-blue.svg
  description: "Documentation of the IO operator search API here."
host: search.cgn.italia.it
basePath: "/api/v1/cgn/operator-search"
schemes:
  - https
security:
  - ApiKey: []
paths:
  /published-product-categories:
    get:
      operationId: getPublishedProductCategories
      summary: List of published product categories
      description: |
        List of categories that have at least a published discount
      parameters:
        - $ref: '#/parameters/CountNewDiscounts'
      responses:
        "200":
          description: List of categories that have at least a published discount
          schema:
            $ref: "#/definitions/PublishedProductCategoriesResult"
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson" 

  /online-merchants:
    post:
      operationId: getOnlineMerchants
      summary: List of online merchants
      description: |
        List of online merchants alphabetically ordered
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/OnlineMerchantSearchRequest'
      responses:
        "200":
          description: List of online merchants for the given query parameters
          schema:
            $ref: "#/definitions/OnlineMerchants"
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson" 

  /offline-merchants:
    post:
      operationId: getOfflineMerchants
      summary: List of merchants with a physical address
      description: |
        List of merchants with physical address, ordered by distance from the user by default
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/OfflineMerchantSearchRequest'
      responses:
        "200":
          description: List of physical merchants for the given query parameters
          schema:
            $ref: "#/definitions/OfflineMerchants"
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"

  /merchants/{merchantId}:
    parameters:
      - name: merchantId
        in: path
        type: string
        minLength: 1
        required: true
        description: Merchant Identifier
    get:
      operationId: getMerchant
      summary: Retrieve merchant details
      description: |
        Retrieve merchant details together with published discounts
      responses:
        "200":
          description: Found
          schema:
            $ref: "#/definitions/Merchant"
        "404":
          $ref: "#/responses/NotFound"
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"

  /discount-bucket-code/{discountId}:
    parameters:
      - name: discountId
        in: path
        type: string
        minLength: 1
        required: true
        description: Discount Identifier
    get:
      operationId: getDiscountBucketCode
      summary: Retrieve a discount bucket code
      description: |
        Retrieve a discount bucket code
      responses:
        "200":
          description: Found
          schema:
            $ref: "#/definitions/DiscountBucketCode"
        "404":
          $ref: "#/responses/NotFound"
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"

securityDefinitions:
  ApiKey:
    type: apiKey
    name: X-Functions-Key
    in: header
    description: The API key to access this function app.

parameters:
  CountNewDiscounts:
    type: boolean
    name: count_new_discounts
    in: query
    description: Indicates whether categories should be enriched with new discounts count.

definitions:
  ProblemJson:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v17.3.0/openapi/definitions.yaml#/ProblemJson"
  
  Merchant:
    type: object
    required:
      - id
      - name
      - discounts
      - supportType
      - supportValue
    properties:
      id:
        type: string
        minLength: 1
      name:
        type: string
        minLength: 1
      description:
        type: string
        minLength: 1
      websiteUrl:
        type: string
        minLength: 1
      supportType:
        $ref: "#/definitions/SupportType"
      supportValue:
        type: string
        minLength: 1
      discountCodeType:
        $ref: "#/definitions/DiscountCodeType"
      imageUrl:
        type: string
        minLength: 1
      discounts:
        type: array
        items:
          $ref: "#/definitions/Discount"
      addresses:
        type: array
        items:
          $ref: "#/definitions/Address" 
  SupportType:
    type: string
    enum:
    - WEBSITE
    - PHONENUMBER
    - EMAILADDRESS
  Discount:
    type: object
    required:
      - id
      - name
      - startDate
      - endDate
      - productCategories
    properties:
      id:
        type: string
        minLength: 1
      name:
        type: string
        minLength: 1
      description:
        type: string
        minLength: 1
      startDate:
        type: string
        format: date
      endDate:
        type: string
        format: date
      productCategories:
        type: array
        items:
          $ref: "#/definitions/ProductCategory"
      discount:
        type: number
        format: double
        minimum: 1
      condition:
        type: string
        minLength: 1
      staticCode:
        type: string
        minLength: 1
      landingPageUrl:
        type: string
        minLength: 1
      landingPageReferrer:
        type: string
        minLength: 1
      discountUrl:
        type: string
        minLength: 1
        maxLength: 500
      isNew:
        type: boolean

  PublishedProductCategories:
    type: object
    required:
      - items
    properties:
      items:
        type: array
        items:
          $ref: "#/definitions/ProductCategory"

  PublishedProductCategoriesWithNewDiscountsCount:
    type: object
    required:
      - items
    properties:
      items:
        type: array
        items:
          $ref: "#/definitions/ProductCategoryWithNewDiscountsCount"

  PublishedProductCategoriesResult:
    x-one-of: true
    allOf:
      - $ref: '#/definitions/PublishedProductCategoriesWithNewDiscountsCount'
      - $ref: '#/definitions/PublishedProductCategories'

  OnlineMerchants:
    type: object
    required:
      - items
    properties:
      items:
        type: array
        items:
          $ref: "#/definitions/OnlineMerchant"

  OnlineMerchant:
    type: object
    required:
      - id
      - name
      - productCategories
      - websiteUrl
      - discountCodeType
      - newDiscounts
    properties:
      id:
        type: string
        minLength: 1
      name:
        type: string
        minLength: 1
      productCategories:
        type: array
        items:
          $ref: "#/definitions/ProductCategory"
      websiteUrl:
        type: string
        minLength: 1
      discountCodeType:
        $ref: "#/definitions/DiscountCodeType"
      newDiscounts:
        type: boolean

  OfflineMerchants:
    type: object
    required:
      - items
    properties:
      items:
        type: array
        items:
          $ref: "#/definitions/OfflineMerchant"

  OfflineMerchant:
    type: object
    required:
      - id
      - name
      - productCategories
      - address
      - newDiscounts
    properties:
      id:
        type: string
        minLength: 1
      name:
        type: string
        minLength: 1
      productCategories:
        type: array
        items:
          $ref: "#/definitions/ProductCategory"
      address:
        $ref: "#/definitions/Address"
      distance:
        description: Distance in meters
        type: integer
        minimum: 0
      newDiscounts:
        type: boolean

  Address:
    type: object
    required:
      - full_address
    properties:
      full_address:
        type: string
        minLength: 1
      latitude:
        type: number
      longitude:
        type: number
        
  ProductCategory:
    type: string
    enum:
      - bankingServices
      - cultureAndEntertainment
      - health
      - home
      - jobOffers
      - learning
      - sports
      - sustainableMobility
      - telephonyAndInternet
      - travelling

  ProductCategoryWithNewDiscountsCount:
    type: object
    properties:
      productCategory:
        $ref: "#/definitions/ProductCategory"
      newDiscounts:
        type: number
    required:
      - productCategory
      - newDiscounts

  DiscountCodeType:
    type: string
    enum:
      - static
      - api
      - landingpage
      - bucket

  OnlineMerchantSearchRequest:
    type: object
    properties:
      merchantName:
        type: string
        description: Text used for searching merchants by their name
        minLength: 1
      productCategories:
        type: array
        description: List of product categories to filter the results
        items:
          $ref: "#/definitions/ProductCategory"
      page:
        type: integer
        description: page of result
        default: 0
        minimum: 0
      pageSize:
        type: integer
        description: elements per page
        default: 100
        minimum: 1

  OfflineMerchantSearchRequest:
    type: object
    properties:
      merchantName:
        type: string
        description: Text used for searching merchants by their name
        minLength: 1
      productCategories:
        type: array
        description: List of product categories to filter the results
        items:
          $ref: "#/definitions/ProductCategory"
      page:
        type: integer
        description: page of result
        default: 0
        minimum: 0
      pageSize:
        type: integer
        description: elements per page
        default: 100
        minimum: 1
      userCoordinates:
        $ref: "#/definitions/Coordinates"
        description: User coordinates
      boundingBox:
        $ref: "#/definitions/BoundingBox"
        description: search area bounding box
      ordering:
        type: string
        enum:
          - distance
          - alphabetic
        default: distance
        description: Ordering type, by distance or alphabetical

  BoundingBox:
    type: object
    required:
      - coordinates
      - deltaLatitude
      - deltaLongitude
    properties:
      coordinates:
        $ref: "#/definitions/Coordinates"
      deltaLatitude:
        type: number
        description: Bounding box delta latitude
      deltaLongitude:
        type: number
        description: Bounding box delta longitude

  Coordinates:
    type: object
    required:
      - latitude
      - longitude
    properties:
      latitude:
        type: number
      longitude:
        type: number

  DiscountBucketCode:
    type: object
    required:
      - code
    properties:
      code:
        type: string
  
responses:
  InvalidRequest:
    description: Bad request
    #content: {} #TODO
  Forbidden:
    description: Forbidden
    #content: {} #TODO
  NotFound:
    description: Not found
    #content: {} #TODO