swagger: "2.0"
info:
  version: 1.0.0
  title: IO Functions CGN operator search
  contact:
    name: IO team
    url: https://forum.italia.it/c/progetto-io
  x-logo:
    url: https://io.italia.it/assets/img/io-logo-blue.svg
  description: >
    Documentation of the IO operator search API here.
host: search.cgn.italia.it
basePath: "/api/v1"
schemes:
  - https
paths:
  /online-merchants:
    post:
      operationId: getOnlineMerchants
      summary: List of online merchants
      description: |
        List of online merchants alphabetically ordered
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/OnlineMerchantSearchRequest'
      responses:
        "200":
          description: List of online merchants for the given query parameters
          schema:
            "$ref": "#/definitions/OnlineMerchants"

  /offline-merchants:
    post:
      operationId: getOfflineMerchants
      summary: List of merchants with a physical address
      description: |
        List of merchants with physical address, ordered by distance from the user by default
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/OfflineMerchantSearchRequest'
      responses:
        "200":
          description: List of physical merchants for the given query parameters
          schema:
            "$ref": "#/definitions/OfflineMerchants"

  /merchants/{merchantId}:
    parameters:
      - name: merchantId
        in: path
        type: string
        required: true
        description: Merchant Identifier
    get:
      operationId: getMerchant
      summary: Retrieve merchant details
      description: |
        Retrieve merchant details together with published discounts
      responses:
        "200":
          description: Found
          schema:
            "$ref": "#/definitions/Merchant"
        "404":
          "$ref": "#/responses/NotFound"
definitions:
  Merchant:
    type: object
    required:
      - id
      - name
      - description
      - discounts
    properties:
      id:
        type: string
      name:
        type: string
      description:
        type: string
      websiteUrl:
        type: string
      imageUrl:
        type: string
      discounts:
        type: array
        items:
          "$ref": "#/definitions/Discount"
      addresses:
        type: array
        items:
          "$ref": "#/definitions/Address"

  Discount:
    type: object
    required:
      - name
      - startDate
      - endDate
      - productCategories
      - discount
    properties:
      name:
        type: string
      description:
        type: string
      startDate:
        type: string
        format: date
      endDate:
        type: string
        format: date
      productCategories:
        type: array
        items:
          "$ref": "#/definitions/ProductCategory"
      discount:
        type: number
        format: double
      condition:
        type: string
      staticCode:
        type: string

  OnlineMerchants:
    type: object
    required:
      - items
    properties:
      items:
        type: array
        items:
          $ref: "#/definitions/OnlineMerchant"

  OnlineMerchant:
    type: object
    required:
      - id
      - name
      - productCategories
      - websiteUrl
    properties:
      id:
        type: string
      name:
        type: string
      productCategories:
        type: array
        items:
          "$ref": "#/definitions/ProductCategory"
      websiteUrl:
        type: string

  OfflineMerchants:
    type: object
    required:
      - items
    properties:
      items:
        type: array
        items:
          $ref: "#/definitions/OfflineMerchant"

  OfflineMerchant:
    type: object
    required:
      - id
      - name
      - productCategories
      - address
      - distance
    properties:
      id:
        type: string
      name:
        type: string
      productCategories:
        type: array
        items:
          "$ref": "#/definitions/ProductCategory"
      address:
        $ref: "#/definitions/Address"
      distance:
        description: Distance in meters
        type: integer

  Address:
    type: object
    required:
      - full_address
      - latitude
      - longitude
    properties:
      full_address:
        type: string
      latitude:
        type: number
      longitude:
        type: number

  ProductCategory:
    type: string
    enum:
      - entertainments
      - travels
      - transportation
      - connectivity
      - books
      - arts
      - sports
      - health

  OnlineMerchantSearchRequest:
    type: object
    properties:
      merchantName:
        type: string
        description: Text used for searching merchants by their name
      productCategories:
        type: array
        description: List of product categories to filter the results
        items:
          "$ref": "#/definitions/ProductCategory"
      page:
        type: integer
        format: int32
        description: page of result
        default: 0
      pageSize:
        type: integer
        format: int32
        description: elements per page
        default: 100

  OfflineMerchantSearchRequest:
    type: object
    required:
      - userCoordinates
      - boundingBox
    properties:
      merchantName:
        type: string
        description: Text used for searching merchants by their name
      productCategories:
        type: array
        description: List of product categories to filter the results
        items:
          "$ref": "#/definitions/ProductCategory"
      page:
        type: integer
        description: page of result
        default: 0
      pageSize:
        type: integer
        description: elements per page
        default: 100
      userCoordinates:
        "$ref": "#/definitions/Coordinates"
        description: User coordinates
      boundingBox:
        "$ref": "#/definitions/BoundingBox"
        description: search area bounding box
      ordering:
        type: string
        enum:
          - distance
          - alphabetic
        default: distance
        description: Ordering type, by distance or alphabetical

  BoundingBox:
    type: object
    required:
      - coordinates
      - deltaLatitude
      - deltaLongitude
    properties:
      coordinates:
        "$ref": "#/definitions/Coordinates"
      deltaLatitude:
        type: number
        description: Bounding box delta latitude
      deltaLongitude:
        type: number
        description: Bounding box delta longitude

  Coordinates:
    type: object
    required:
      - latitude
      - longitude
    properties:
      latitude:
        type: number
      longitude:
        type: number
  
responses:
  InvalidRequest:
    description: Bad request
    #content: {} #TODO
  Forbidden:
    description: Forbidden
    #content: {} #TODO
  NotFound:
    description: Not found
    #content: {} #TODO